.App .ui.menu:not(.vertical) .item{
  margin-left: 13px;
}

.Main-Section {
  display:flex;
  flex: 1;
  flex-direction: row;
  justify-content:'flex-start';
}

.Main-Header{
  z-index:1;
}

.Plants-Container {
  display: flex;
  flex: 1;
  height:100vh;
}

.ui.compact.vertical.menu.Actions-Bar{
  height:100vh;
}

.Plants-Container.Empty{
  display: flex;
  flex: 1;
  flex-direction:column;
  height:100vh;
  justify-content: flex-start;
  align-items: center;
}

.Plants-Container.Grid-Pad{
  display:flex;
  padding:40px;
  overflow-y:scroll;
  z-index:0;
}

.Plants-Container .Plant-Card{
  z-index:0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
